section.about_us_s
    div.about_us_s__wrap.container#about_us-scroll
        h3.about_us_s_title(data-aos="zoom-in-up" data-aos-delay="400" data-aos-duration="1000")
            | Simple & pure design
        p.about_us_s_description(data-aos="zoom-in-up" data-aos-delay="500" data-aos-duration="1000")
            | Designers everywhere gush with admiration upon seeing a web design and exclaim "its beautiful, it's so clean!".
            | There are a countless number of webdesign round-ups dedicated to 'clean' design and it is a term thrown
            | around quite a bit in the web design community. It can be easy to spot a good example of clean design.
        ul.feature
            li.feature_item(data-aos="fade-up-right" data-aos-delay="600" data-aos-duration="1300")
                div.feature_logo
                   img.feature_img(src='static/img/feature/phone.png')
                h5.feature_title Optimized for all devices
                p.feature_description
                    | STRICT has been designed to be fully
                    | responsive on all devices
            li.feature_item(data-aos="zoom-in-up" data-aos-delay="700" data-aos-duration="1300")
                div.feature_logo
                    img.feature_img(src='static/img/feature/telegram.png')
                h5.feature_title Clean & Minimal Design
                p.feature_description
                    | This multipurpose theme is especially created
                    | to be used for different projects.
            li.feature_item(data-aos="fade-up-left" data-aos-delay="600" data-aos-duration="1300")
                div.feature_logo
                    img.feature_img(src='static/img/feature/gromophone.png')
                h5.feature_title Font Awesome Icon
                p.feature_description
                    | This multipurpose theme is especially created
                    | to be used for different projects.

