header
    div.HeaderLogo.container
        a(href='').HeaderLogo_link
            img.HeaderLogo_img(src='static/img/header/Logo.png')(data-aos="fade-up-right" data-aos-delay="600" data-aos-duration="1200")
            h2.HeaderLogo_name(data-aos="fade-up-left" data-aos-delay="600" data-aos-duration="1200")
                | Strict