section.intro_s
    div.intro_s__wrap.container
        article.banner(data-aos="zoom-in-up" data-aos-delay="1200" data-aos-duration="1500")
            h1.banner_title(data-aos="zoom-in-up" data-aos-delay="1400" data-aos-duration="1500")
                | Strict
            p.banner_content(data-aos="zoom-in-up" data-aos-delay="1600" data-aos-duration="1500")
                | STRICT is a responsive theme with a a clean and minimal look.
            div.btn.banner_btn(data-aos="zoom-in-up" data-aos-delay="1800" data-aos-duration="1500")
                a.btn_link.banner_btn_link Call to action
        img.intro_s_JumpArrow#JumpArrow(src='static/img/intro/JumpArrow.png')