section.portfolio_s
    .portfolio_s__wrap.container
        h3.portfolio_s_title(data-aos="zoom-in-up" data-aos-delay="400" data-aos-duration="1000") Showcase your work like a pro.
        p.portfolio_s_description(data-aos="zoom-in-up" data-aos-delay="500" data-aos-duration="1000") Contact me if you like my work
        ul.portfolio_content
            - for (var i=1; i<=6; i++)
                include portfolio_components


