li.portfolio_content_item(data-aos="flip-down" data-aos-delay="600" data-aos-duration="1000")
    img.portfolio_content_img(src='static/img/portfolio/item'+ i + '.png')
    div.portfolio_content_ImgNav
        a(href='').portfolio_content_ImgNav_wrap.portfolio_content_ImgNav_zoom
            img.portfolio_content_ImgNav_img(src='static/img/portfolio/zoom.png')
        a(href='').portfolio_content_ImgNav_wrap.portfolio_content_ImgNav_link
            img.portfolio_content_ImgNav_img(src='static/img/portfolio/link.png')