header{
  background-color: #fff;
  padding: 33px 0;
}
.HeaderLogo{
  cursor: pointer;
  &_link{
    display: flex;
    align-items: center;
  }
  &_img{
  }
  &_name{
    margin-left: 25px;
    color: #2d3950;
    font-family: 'Lato Bold';
    font-size: 30px;
    text-transform: uppercase;
  }
}