.InformUs {
  background-image: url('../img/InformUs/InformUsBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-top: 85px;
  padding: 50px 0;
  &_title, &_description {
    font-family: "Lato Regular";
    text-align: center;
  }
  &_title {
    color: #fff;
    font-size: 41px;
    @include xs(font-size, 33px);
  }
  &_description {
    color: #999999;
    margin-top: 30px;
    font-size: 15px;
    margin-bottom: 50px;
  }
  &_form {
    display: flex;
    flex-direction: column;
  }
}
.form {
  &_container {
    margin: 0 auto;
    max-width: 585px;
    width: 100%;
    padding: 0 15px;
    @include md(max-width, 100%);
  }
  &_input {
    width: 100%;
    height: 60px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #999999;
    color: #999999;
    padding: 0 20px;
    margin-bottom: 20px;
    font-family: "Lato Regular";
    font-size: 15px;
    &::placeholder {
      color: #999999;
    }
    &:focus {
      color: #fff;
      border-color: #fff;
      &::placeholder {
        color: #fff;
      }
    }
    &Message {
      padding-top: 25px;
      height: 160px;
      resize: none;
    }
    &Checkbox {
      display: none;
      &:checked + {
        .subscribe__Text::after {
          opacity: 1;
        }
      }
    }
  }
    &_BottomArea {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include xs(flex-direction, column);
      @include xs(justify-content, center);
      @include xs(align-items, center);
    }
    &_btn {
      @include Size(140, 45);
      @include xs(width, 115px);
      @include xs(height, 35px);
      @include xs(margin-top, 15px);
      transition: .3s;
      &_link {
        line-height: 45px;
        color: #fff;
        @include xs(line-height, 35px);
      }
    }
    &_subscribe {
      display: flex;
      align-items: center;
      margin-top: 5px;
    }
  }
  .subscribe{
    &__Text{
      font-family: "Lato Regular";
      font-size: 15px;
      color: #fff;
      position: relative;
      margin-left: 30px;
      cursor: pointer;
      &::before,&::after{
        content: '';
        cursor: pointer;
        position: absolute;
        @include AbsoluteYCenter();
        left: -30px;
        @include Size(15);
        border-radius: 3px;
        background: #99a0a9;
      }
      &::after{
        background-image: url("../img/InformUs/checked.png");
        background-position: center;
        background-size: 11px;
        background-repeat: no-repeat;
        opacity: 0;
        transition: .1s;
      }
    }
  }